.icon {
  width: 24px;
  height: 24px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  padding: 5px;
  text-decoration: none;
  color: #888;
}

a:hover {
  color: #333;
}

.highlight {
  color: #ff5700;
  border-radius: 5px;
  background: #efefef;
}

body {
  color: #333;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino;
  font-size: 1em;
  background: rgb(195, 188, 178);
}

.layout {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  max-width: 960px;
  margin: 0 auto;
}

/* header */
header {
  background: rgb(64, 64, 65);
  width: 100%;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 30px;
  position: relative;
}

header .resume-link {
  display: none;
}

header > h1 {
  color: #fff;
}

header > p {
  color: #999;
  padding-top: 10px;
  font-size: 20px;
}

/* aside */
aside {
  background: #fff;
  max-width: 280px;
  border-right: 2px solid #ccc;
  position: relative;
  padding-top: 100px;
  margin-bottom: 30px;
}

aside .bomber {
  text-align: center;
  position: absolute;
  top: -110px;
  width: 100%;
}

aside .bomber > img {
  width: 160px;
  height: 200px;
  border-radius: 50%;
  /*background: cornflowerblue;*/
}

aside section {
  margin: 30px 15px 0px 45px;
  padding-bottom: 30px;
}

aside section:not(:last-of-type) {
  border-bottom: 2px solid #ccc;
}

aside section .button{
  border-radius: 1rem;
  background:#95e1d3;
  text-align: center;
  width: 8rem;
  font-weight: bold;
  /*font-size: 2rem;*/
  padding: 1.5rem 0px;
  margin: 2rem auto;
  display: block;/*这里也可以设置成inline-block使用内联元素的居中布置，方方老师的就是设置成incline-block，但是需要在父元素加上text-align:center;*/
  color: #222831;
  text-decoration: none;
  transition: box-shadow 0.3s;
  box-shadow: 0px 0px 2px 1px #95e1d3;
  font-size: 1.2rem;
  font-family: "myFont",arial, Gadget, sans-serif;
  /*跟在button:hover里面直接写transition-duration: 0.3s效果一样*/
}

section h2 {
  padding-bottom: 20px;
  color: #2397df;
}

section .item {
  font-size: 14px;
  color: #666;
}

.personal .item span:first-child {
  width: 80px;
  display: inline-block;
}

.personal .item span:last-child::before {
  content: "：";
  padding-right: 18px;
}

.skills .item {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
}

.skills .item .keyword {
  padding-bottom: 5px;
}

.skills .item .rule {
  flex: 1;
  height: 4px;
  background: #eee;
}

.skills .item i {
  display: block;
  /*width: 20px;*/
  height: 4px;
  background-color: #000;
}

.contact .item {
  display: flex;
  align-items: center;
  padding: 3px 0;
}

.contact .item span {
  padding-left: 10px;
}

.more .item {
  display: flex;
  align-items: center;
  padding: 3px 0;
  font-size: 16px;
}

.more .item .icon {
  width: 32px;
  height: 32px;
}

/* main */
main {
  background: #fff;
  flex: 1;
  min-height: calc(100vh - 172px);
}

main section:not(:last-of-type) {
  margin: 30px 40px 30px 30px;
}

main .line {
  margin: 0px 70px 0px 35px;
  border: 0.75px solid #ccc;
}

main section:last-of-type {
  margin: 30px 25px 30px 30px;
}

/*main .flex {*/
/*  display: flex;*/
/*  margin-bottom: 5px;*/
/*}*/

/*main .flex h3 {*/
/*  flex: auto;*/
/*}*/

main section p {
  padding-bottom: 3px;
}

main section .item:not(:last-of-type) {
  padding-bottom: 20px;
}

main section .item h3 {
  color: #333;
  font-size: 16px;
}

main section .item img {
  margin-top: 5px;
  width: 100%;
  border: 1px dashed #ddd;
  /*border-style: dashed;*/
  border-radius: 5px;
}

main section .item ul {
  padding-top: 10px;
  list-style: none;
}

footer {
  background: rgb(64, 64, 65);
  text-align: center;
  width: 100%;
}
