body {
    background: transparent;
}

.layout {
    width: 100vw;
}

/* header */

header .resume-link {
    position: absolute;
    left: 10px;
    top: 10px;
    display: block;
}

main .item img {
    display: none;
}